/* 17 */
.text-glow {
  --glow-color: rgb(222, 188, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.981);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(203, 147, 255);
  padding: 1em 3em;
  color: var(--glow-color);
  font-weight: bold;
  background-color: var(--btn-color);
  outline: none;
  text-shadow: 
    0 0 .5em var(--glow-color),
    0 0 1em var(--glow-color),
    0 0 1.5em var(--glow-spread-color);
  position: relative;
  transition: all 0.3s;
}

.text-glow:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  cursor: pointer;
  text-shadow: 
    0 0 .5em var(--btn-color),
    0 0 1em var(--btn-color),
    0 0 2em var(--btn-color),
    0 0 3em var(--enhanced-glow-color);
  transform: scale(1.02);
}

/* Seach: */
.group {
 position: relative;
}

.input {
 font-size: 16px;
 padding: 10px 10px 10px 5px;
 display: block;
 width: 200px;
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
}

.input:focus {
 outline: none;
}

label {
 color: #999;
 font-size: 18px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
 top: -20px;
 font-size: 14px;
 color: #5264AE;
}

.bar {
 position: relative;
 display: block;
 width: 200px;
}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #5264AE;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {
 left: 50%;
}

.bar:after {
 right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
 width: 50%;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: #5264AE;
 }

 to {
  width: 0;
  background: transparent;
 }
}



/* App.css */
        .styled-wrapper .nav-btn {
            display: block;
            position: relative;
            width: 76px;
            height: 76px;
            margin: 0;
            overflow: hidden;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            border: 0;
        }

        .styled-wrapper .nav-btn:before {
            content: "";
            position: absolute;
            border-radius: 50%;
            inset: 7px;
            border: 3px solid black; /* Update dynamically for light/dark mode */
            transition:
                opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
                transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
        }

        .styled-wrapper .nav-btn:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            inset: 7px;
            border: 4px solid #599a53;
            transform: scale(1.3);
            transition:
                opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
                transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            opacity: 0;
        }

        .styled-wrapper .nav-btn:hover:before,
        .styled-wrapper .nav-btn:focus:before {
            opacity: 0;
            transform: scale(0.7);
            transition:
                opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
                transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .styled-wrapper .nav-btn:hover:after,
        .styled-wrapper .nav-btn:focus:after {
            opacity: 1;
            transform: scale(1);
            transition:
                opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
                transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
        }

        .styled-wrapper .nav-btn-box {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
        }

        .styled-wrapper .nav-btn-elem {
            display: block;
            width: 30px;
            height: 30px;
            margin: 24px 18px 0 22px;
            transform: rotate(360deg);
            fill: #f0eeef;
        }

        .styled-wrapper .nav-btn:hover .nav-btn-box,
        .styled-wrapper .nav-btn:focus .nav-btn-box {
            transition: 0.4s;
            transform: translateX(-69px);
        }




/* Buy Now Button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: #12e779;
  border: 8px solid #c0ffd2;
  color: white;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  width: 60%;
  height: 50%;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.svg {
  padding-top: 5px;
  height: 5%;
  width: 2%;
}

.svg svg {
  width: 50px;
  height: 30px;
}

.button:hover {
  border: 8px solid #9ff9cc;
  background-color: #05a352;
}

.button:active {
  border: 5px solid #c0dfff;
}

.button:hover .svg svg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}